<!-- Barra de Navegacion -->
<nav class="navbar container-fluid">
  <!-- Enlace a la página de vista de Pokémon y agregar la imagen del logo -->
  <a class="navbar-brand" [routerLink]="['/vistapokemones']">
    <img src="https://pokexamen.bananasoft.mx/assets/pokemon.png" alt="Pokemon logo">
  </a>
  <!-- Navegación para cerrar sesión -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Cerrar la sesión</a>
    </li>
  </ul>
</nav>

<nav class="card-header d-flex justify-content-between align-items-center" *ngIf="mostrarEliminarEditar">
  <!-- Muestra el nombre del usuario creador del Pokémon-->
  <div class="badge rounded-pill text-bg-secondary" *ngIf="item">Creado por: {{ nombreUsuario }}</div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end ng-star-inserted">
    <!-- Botón para eliminar el Pokémon, solo visible si existe -->
    <button class="btn btn-danger me-md-2" *ngIf="item" (click)="eliminarPokemon()">Eliminar</button>
    <!-- Botón para editar el Pokémon, solo visible si existe -->
    <button type="submit" class="btn btn-primary" *ngIf="item" [routerLink]="['/actualizarpokemones', item.id]">Editar</button>
  </div>
</nav>

<!-- Rutas -->
<router-outlet></router-outlet>
