.custom-card {
    background-color: #f8f9fa; /* Gris claro personalizado */
    border-radius: 10px; /* Ajuste opcional para bordes redondeados */
    border: none; /* Remueve el borde predeterminado de la card */
    border: 1px solid #6666;
  }

  .btn-success:hover {
    background-color: #218838;
  }
  @media (max-width: 700px) {
    .btn-responsive {
        width: 100%;
    }
  }